<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Zee en Duin</title>
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700">
    <link rel="stylesheet" href="static/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="static/assets/css/Animated-Pretty-Product-List-v12.css">
    <link rel="stylesheet" href="static/assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="static/assets/css/MUSA_carousel-product-cart-slider-1.css">
    <link rel="stylesheet" href="static/assets/css/MUSA_carousel-product-cart-slider.css">
    <link rel="stylesheet" href="static/assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="static/assets/css/Swiper-Slider-Card-For-Blog-Or-Product-1.css">
    <link rel="stylesheet" href="static/assets/css/Swiper-Slider-Card-For-Blog-Or-Product.css">
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="77">
    <nav class="navbar navbar-light navbar-expand-sm fixed-top" id="mainNav" style="background: rgba(0,0,0,0.21);">
        <div class="container"><a class="navbar-brand" href="index.html" style="color: rgb(255,255,255);">Zee en Duin</a><button data-bs-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-bs-target="#navbarResponsive" type="button" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation" value="Menu"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto" style="font-size: 18px;color: rgb(255, 255, 255);">
                    <li class="nav-item nav-link"><a class="nav-link" href="/aanbod">zoek &amp; boek</a></li>
                    <li class="nav-item nav-link"><a class="nav-link" href="/registreren">registreren</a></li>
                    <li class="nav-item nav-link"><a class="nav-link active" href="/login">login</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="login-dark" style="background: url(&quot;static/assets/img/sean-oulashin-KMn4VEeEPR8-unsplash.jpg&quot;);">
        <form method="post" style="background: rgb(255,255,255);">
            <div class="illustration"><i class="icon ion-ios-locked-outline" style="color: rgb(255,92,0);"></i></div>
            <a class="error">{{ error }}</a>
            <div class="mb-3"><input class="form-control" type="name" name="gebruikersnaam" placeholder="Gebruikersnaam" style="color: rgb(0,0,0);"></div>
            <div class="mb-3"><input class="form-control" type="password" name="wachtwoord" placeholder="Wachtwoord" style="color: rgb(0,0,0);"></div>
            <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit" style="color: rgb(255,255,255);background: rgb(255,92,0);">Log In</button></div><a class="forgot" href="#">Wachtwoord vergeten?</a><a class="navbar-brand" href="index.html" style="color: rgb(255,255,255);">Zee en Duin</a>
        </form>
    </section>
    <footer>
        <div class="container text-center">
            <p>Copyright ©&nbsp;Zee en Duin 2022</p>
        </div>
    </footer>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/assets/js/grayscale.js"></script>
    <script src="static/assets/js/Animated-Pretty-Product-List-v12.js"></script>
    <script src="static/assets/js/Swiper-Slider-Card-For-Blog-Or-Product.js"></script>
</body>

</html>